<h2> List of Enquires</h2>
<%= will_paginate @enquires,:class=>"pagination pagination-centered",:renderer => BootstrapPagination::Rails %>
<table class="table table-striped table-bordered">
  <tr >
    <th style="background-color:black;color: white;"> Name </th>

    <th style="background-color:black;color: white;"> Phone No</th>
     <th style="background-color:black;color: white;">Email</th>
     <th style="background-color:black;color: white;">Course</th>
     <th style="background-color:black;color: white;"></th>

    <th style="background-color:black;color: white;"><%#=link_to "Print All Pay Slip", {:action=>'pay_slips'}, :class=>"btn btn-success" %></th>
  </tr>
<%#@sum=0%>
<%@enquires.each do |a|%>

  <tr>
    <td><%=a.name%></td>
    <td><%=a.phone_no%></td>
    <td><%=a.email%></td>
    <td><%=a.course%></td>
    <td><%#=link_to "edit", {:controller=>'salaries',:action=>'edit',:id=>a.id},:class=>"btn-small btn-inverse"%></td>
    </tr>
<%#@sum+=a.net_payable%>
<%end%>

</table>
    <br/>
    
    <%#=link_to "", {:controller=>'salaries',:action=>'new'},:class=>"btn-large btn-success"%>

<%= will_paginate @enquires,:class=>"pagination pagination-centered",:renderer => BootstrapPagination::Rails %>
    
